#[submodule "docs/-example"]
#	path = docs/-example
#	url = https://github.com/signalwerk/cookie-clicker.git
#	branch = gh-pages
[submodule "docs/nils"]
	path = docs/nils
	url = https://github.com/NMA93/doener_bude_clicker.git
	branch = master
[submodule "docs/tieu"]
	path = docs/tieu
	url = https://github.com/tioemayer/bubble-clicker.git
	branch = gh-pages
[submodule "docs/lars"]
	path = docs/lars
	url = https://github.com/larsmaeder/cookie-counter.git
	branch = gh-pages
[submodule "docs/stephanie"]
	path = docs/stephanie
	url = https://github.com/stfffchs/cookieclicker.git
	branch = gh-pages
[submodule "docs/matthias"]
	path = docs/matthias
	url = https://github.com/matthiasmeierkoch/clickcounter.git
	branch = gh-pages
[submodule "docs/marius"]
	path = docs/marius
	url = https://github.com/mariusbecker/1932.git
	branch = gh-pages
[submodule "docs/severin"]
	path = docs/severin
	url = https://github.com/severinkilchhofer/city-builder.git
	branch = gh-pages
[submodule "docs/pascale"]
	path = docs/pascale
	url = https://github.com/pascaleva/spacecat.git
	branch = gh-pages
[submodule "docs/marc"]
	path = docs/marc
	url = https://github.com/marc-hatt/cookie-mania.git
	branch = gh-pages
[submodule "docs/wolfgang"]
	path = docs/wolfgang
	url = https://github.com/wschoeck/Calculator.git
	branch = gh-pages
